///********** NAV - BAR  **********///
.nav-bar {
    &_burger {
        display: none;
        height: 1rem;
    }
    &_logo {
        width: 10rem;
        height: 1.5rem;
    }

    &_ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

    &_link:link,
    &_link:visited {
        text-decoration: none;
        color: var(--Grayish-Blue);
        font-size: 15px;
    }
}
///********** HEADER  **********///
.text-box {
    width: 40%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_h-1 {
        font-size:  clamp(2rem, 4.5vw, 3rem);
        font-weight: 400;
        line-height: 1;
    }

    &_p {
        font-size: clamp(0.7rem, 2vw, 1.05rem);
        line-height: 1.5;
        color: var(--Grayish-Blue)
    }

    &_btn {
        align-self: flex-start;
    }
}

.header-box {
    &_img {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(33%, -13%);
        width: 35vw;
    }
}

///********** CONTENT  **********///
.content {
    padding-top: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


    &_text-box {
        width: 55%;
        margin-bottom: 4rem;
    }

    &_h-2 {
        margin-bottom: 2rem;
        font-weight: 300;
    }

    &_p {
        font-weight: 300;
        color: var(--Grayish-Blue);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem 1rem;

    &_box {
        display: grid;
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        row-gap: 1rem;
    }

    &_img {
        grid-row: 1 / 2;
    }

    &_h-3  {
        grid-row: 2 / 3;
        font-weight: 400;
    }

    &_p {
        grid-row: 3 / 4;
        font-weight: 300;
        color: var(--Grayish-Blue);
        font-size: 1rem;
    }
}
///********** Article  **********///
.article-box {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5rem;

    &_h-3 {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 2.3rem;
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        border-radius: 5%;
    }

    &_item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        background-color: var(--White);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    &_img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &_text-box {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 1.5rem;
    }

    &_p {
        margin-bottom: 0.5rem;
        font-weight: 300;
        color: var(--Grayish-Blue);
        font-size: 0.8rem;
    }

    &_h-4 {
        margin-bottom: 1rem;
        font-weight: 300;
    }

    &_p-2 {
        font-weight: 300;
        color: var(--Grayish-Blue);
        font-size: 0.8rem;
    }
}

/////////////////////////////////// 645 px - 640 px  = napísať media queie pre article sekciu