.btn {
    padding: 0.9rem 2.2rem;
    border-radius: 100px;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    color: var(--White);
    font-weight: 700;
    border: none;
    transition: .3s all;
}

.btn:hover {
    cursor: pointer;
    opacity: 60%;
}

.btn:active {
    transform: translateY(-0.5rem);
}