@media (max-width: 75em) {
    .header-box {
        padding: 0 3rem;
    }

    .content,
    .article,
    .footer-box {
            padding: 3rem;
    }
}

@media (max-width: 59.1875em) {
    .span {
        color: var(--White);
    }
}
//// TABLET VERSION ////
@media (max-width: 55.9375em) {  
    
    .span {
        color: #000;
    }
    .header,
    .header-box {
        min-height: 50vh;
    }

    .header-box {
        flex-direction: column-reverse;
        &_img {
            position: relative;
            top: 10px;
            left: -100px;
            transform: translate(1, 1);
            width: 50vw;
        }
    }

    .text-box {
        width: 100%;
        min-height: 25vh;
        margin-bottom: 3rem;
        &_h-1 {
            font-size:  clamp(2.5rem, 4.5vw, 3rem);
            font-weight: 400;
            line-height: 1;
            color: var(#fff);
        }
        &_p {
            font-size: clamp(0.7rem, 2vw, 1.05rem);
            line-height: 1.5;
            color: var(--Grayish-Blue);
        }
        &_btn {
            align-self: center;
        }
    }
}

@media screen and (max-width: 40em) {
    .span-2 {
        color: var(--White);
    }
}
@media screen and (max-width: 43.75em) {
    .nav-bar {
        &_ul {
            display: none;
        }

        &_burger {
            display: inline-block;
        }
    }
   .content {
       &_text-box {
           width: 100%;
       }
   }
}

@media (max-width: 37.5em) {

    .span {
        color: var(--White);
    }
    .text-box {
        &_h-1 {
            color: var(--White);
        }
    }
}

@media (max-width: 28.125em) {
    .btn-display {
        display: none;
    }

    .nav-bar {
        padding: 0 5vw;
    }

    .text-box {
        text-align: center;
        &_h-1 {
            font-size:  clamp(1.8rem, 2vw, 3rem);
            font-weight: 400;
            line-height: 1;
            margin-bottom: 2rem;
        }
    
        &_p {
            font-size: clamp(0.6rem, 2vw, 1.05rem);
            line-height: 1.5;
            color: var(--Grayish-Blue);
            margin-bottom: 2rem;
        }
    }
}